<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập hoặc Đăng ký</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
<div class="container">
    <!-- Giao diện đăng nhập -->
    <div class="login-box" id="login-box">
        <h1>Đăng nhập để sử dụng MeetWise</h1>
        <form action="/login" method="POST">
            <input type="text" placeholder="Tên đăng nhập..." name="ID_User" required>
            <input type="password" placeholder="Mật khẩu" name="Password" required>
            <button type="submit">Đăng nhập</button>
        </form>
        <a href="#" class="forgot-password" onclick="showForgotPassword()">Quên mật khẩu?</a>
        <div class="separator"></div>
        <button class="create-account" onclick="showRegister()">Tạo tài khoản mới</button>
    </div>

    <!-- Giao diện đăng ký -->
    <div class="register-box" id="register-box" style="display: none;">
        <h1>Tạo tài khoản mới</h1>
        <p>Nhanh chóng và dễ dàng.</p>
        <form id = "registerForm" action="/accounts/log/register" method="POST">

            <input type="text" placeholder="Tên đăng nhập" name="username" required>
            <input type="text" placeholder="Mã nhân viên" name="maNhanVien" required>
            <input type="password" placeholder="Mật khẩu" name="password" required>
            <input type="repeat_password" placeholder="Nhập lại mật khẩu" name="repeatPassword" required>
            <button type="submit">Đăng ký</button>
        </form>
        <div class="separator"></div>
        <button class="back-to-login" onclick="showLogin()">Quay lại Đăng nhập</button>
    </div>

    <!-- Giao diện quên mật khẩu -->
    <div class="forgot-password-box" id="forgot-password-box" style="display: none; ">
        <h1>Nhập các thông tin sau để khôi phục mật khẩu</h1>
        <form action="/forgot-password" method="POST">
            <input type="text" placeholder="Tên đăng nhập..." name="ID_User" required>
            <input type="text" placeholder="Email" name="Email" required>
            <input type="text" placeholder="Số điện thoại" name="DienThoai" required>
            <button type="submit">Xác nhân</button>
        </form>
        <div class="separator"></div>
        <button class="create-account" onclick="showLogin()">Quay lại Đăng nhập</button>
    </div>



</div>

<script src="/js/login.js"></script>
</body>

</html>